In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
players = pd.read_csv("/content/players_fifa22.csv")
teams = pd.read_csv("/content/teams_fifa22.csv")

In [69]:
players

           ID               Name  ... RBRating  GKRating
0      158023           L. Messi  ...       64        22
1      188545     R. Lewandowski  ...       64        22
2       20801  Cristiano Ronaldo  ...       63        23
3      231747          K. Mbappé  ...       66        21
4      200389           J. Oblak  ...       35        92
...       ...                ...  ...      ...       ...
19255  262759           S. Black  ...       47        15
19256  250978            Ma Zhen  ...       26        49
19257  261985         Yang Haoyu  ...       48        15
19258  261977           He Siwei  ...       49        17
19259  261932      Chen Guoliang  ...       48        16

[19260 rows x 90 columns]

In [70]:
players.isna().sum().to_dict()

{'Acceleration': 0,
 'Age': 0,
 'Aggression': 0,
 'Agility': 0,
 'AttackingWorkRate': 0,
 'Balance': 0,
 'BallControl': 0,
 'BaseStats': 0,
 'BestPosition': 0,
 'CAMRating': 0,
 'CBRating': 0,
 'CDMRating': 0,
 'CFRating': 0,
 'CMRating': 0,
 'Club': 0,
 'ClubJoined': 0,
 'ClubNumber': 76,
 'ClubPosition': 76,
 'Composure': 0,
 'ContractUntil': 76,
 'Crossing': 0,
 'Curve': 0,
 'DefendingTotal': 0,
 'DefensiveWorkRate': 0,
 'Dribbling': 0,
 'DribblingTotal': 0,
 'FKAccuracy': 0,
 'Finishing': 0,
 'FullName': 0,
 'GKDiving': 0,
 'GKHandling': 0,
 'GKKicking': 0,
 'GKPositioning': 0,
 'GKRating': 0,
 'GKReflexes': 0,
 'Growth': 0,
 'HeadingAccuracy': 0,
 'Height': 0,
 'ID': 0,
 'IntReputation': 0,
 'Interceptions': 0,
 'Jumping': 0,
 'LBRating': 0,
 'LFRating': 0,
 'LMRating': 0,
 'LWBRating': 0,
 'LWRating': 0,
 'LongPassing': 0,
 'LongShots': 0,
 'Marking': 0,
 'Name': 0,
 'NationalNumber': 18503,
 'NationalPosition': 18503,
 'NationalTeam': 0,
 'Nationality': 0,
 'OnLoad': 0,
 'Overall': 0,
 'PaceTotal': 0,
 'PassingTotal': 0,
 'Penalties': 0,
 'PhotoUrl': 0,
 'PhysicalityTotal': 0,
 'Positioning': 0,
 'Positions': 0,
 'Potential': 0,
 'PreferredFoot': 0,
 'RBRating': 0,
 'RFRating': 0,
 'RMRating': 0,
 'RWBRating': 0,
 'RWRating': 0,
 'Reactions': 0,
 'ReleaseClause': 0,
 'STRating': 0,
 'ShootingTotal': 0,
 'ShortPassing': 0,
 'ShotPower': 0,
 'SkillMoves': 0,
 'SlidingTackle': 0,
 'SprintSpeed': 0,
 'Stamina': 0,
 'StandingTackle': 0,
 'Strength': 0,
 'TotalStats': 0,
 'ValueEUR': 0,
 'Vision': 0,
 'Volleys': 0,
 'WageEUR': 0,
 'WeakFoot': 0,
 'Weight': 0}

In [71]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19260 entries, 0 to 19259
Data columns (total 90 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 19260 non-null  int64
 1   Name               19260 non-null  object
 2   FullName           19260 non-null  object
 3   Age                19260 non-null  int64
 4   Height             19260 non-null  int64
 5   Weight             19260 non-null  int64
 6   PhotoUrl           19260 non-null  object
 7   Nationality        19260 non-null  object
 8   Overall            19260 non-null  int64
 9   Potential          19260 non-null  int64
 10  Growth             19260 non-null  int64
 11  TotalStats         19260 non-null  int64
 12  BaseStats          19260 non-null  int64
 13  Positions          19260 non-null  object
 14  BestPosition       19260 non-null  object
 15  Club               19260 non-null  object
 16  ValueEUR           19260 non-null  int64
 17  WageEUR            19260 non-null  int64
 18  ReleaseClause      19260 non-null  int64
 19  ClubPosition       19184 non-null  object
 20  ContractUntil      19184 non-null  float64
 21  ClubNumber         19184 non-null  float64
 22  ClubJoined         19260 non-null  int64
 23  OnLoad             19260 non-null  bool
 24  NationalTeam       19260 non-null  object
 25  NationalPosition   757 non-null    object
 26  NationalNumber     757 non-null    float64
 27  PreferredFoot      19260 non-null  object
 28  IntReputation      19260 non-null  int64
 29  WeakFoot           19260 non-null  int64
 30  SkillMoves         19260 non-null  int64
 31  AttackingWorkRate  19260 non-null  object
 32  DefensiveWorkRate  19260 non-null  object
 33  PaceTotal          19260 non-null  int64
 34  ShootingTotal      19260 non-null  int64
 35  PassingTotal       19260 non-null  int64
 36  DribblingTotal     19260 non-null  int64
 37  DefendingTotal     19260 non-null  int64
 38  PhysicalityTotal   19260 non-null  int64
 39  Crossing           19260 non-null  int64
 40  Finishing          19260 non-null  int64
 41  HeadingAccuracy    19260 non-null  int64
 42  ShortPassing       19260 non-null  int64
 43  Volleys            19260 non-null  int64
 44  Dribbling          19260 non-null  int64
 45  Curve              19260 non-null  int64
 46  FKAccuracy         19260 non-null  int64
 47  LongPassing        19260 non-null  int64
 48  BallControl        19260 non-null  int64
 49  Acceleration       19260 non-null  int64
 50  SprintSpeed        19260 non-null  int64
 51  Agility            19260 non-null  int64
 52  Reactions          19260 non-null  int64
 53  Balance            19260 non-null  int64
 54  ShotPower          19260 non-null  int64
 55  Jumping            19260 non-null  int64
 56  Stamina            19260 non-null  int64
 57  Strength           19260 non-null  int64
 58  LongShots          19260 non-null  int64
 59  Aggression         19260 non-null  int64
 60  Interceptions      19260 non-null  int64
 61  Positioning        19260 non-null  int64
 62  Vision             19260 non-null  int64
 63  Penalties          19260 non-null  int64
 64  Composure          19260 non-null  int64
 65  Marking            19260 non-null  int64
 66  StandingTackle     19260 non-null  int64
 67  SlidingTackle      19260 non-null  int64
 68  GKDiving           19260 non-null  int64
 69  GKHandling         19260 non-null  int64
 70  GKKicking          19260 non-null  int64
 71  GKPositioning      19260 non-null  int64
 72  GKReflexes         19260 non-null  int64
 73  STRating           19260 non-null  int64
 74  LWRating           19260 non-null  int64
 75  LFRating           19260 non-null  int64
 76  CFRating           19260 non-null  int64
 77  RFRating           19260 non-null  int64
 78  RWRating           19260 non-null  int64
 79  CAMRating          19260 non-null  int64
 80  LMRating           19260 non-null  int64
 81  CMRating           19260 non-null  int64
 82  RMRating           19260 non-null  int64
 83  LWBRating          19260 non-null  int64
 84  CDMRating          19260 non-null  int64
 85  RWBRating          19260 non-null  int64
 86  LBRating           19260 non-null  int64
 87  CBRating           19260 non-null  int64
 88  RBRating           19260 non-null  int64
 89  GKRating           19260 non-null  int64
dtypes: bool(1), float64(3), int64(73), object(13)
memory usage: 13.1+ MB

In [72]:
players.Nationality.unique()

array(['Argentina', 'Poland', 'Portugal', 'France', 'Slovenia', 'Belgium',
       'Brazil', 'England', 'Germany', 'Korea Republic', 'Senegal',
       'Netherlands', 'Italy', 'Egypt', 'Spain', 'Uruguay', 'Norway',
       'Costa Rica', 'Croatia', 'Scotland', 'Slovakia', 'Algeria',
       'Hungary', 'Switzerland', 'Denmark', 'Gabon', 'Morocco', 'Nigeria',
       'Serbia', 'Austria', 'Sweden', 'Montenegro', "Côte d'Ivoire",
       'Mexico', 'Greece', 'Bosnia and Herzegovina', 'Armenia', 'Finland',
       'Cameroon', 'Colombia', 'Ghana', 'Canada', 'Czech Republic',
       'United States', 'Jamaica', 'Turkey', 'Wales', 'Russia',
       'Burkina Faso', 'Togo', 'Venezuela', 'Chile', 'Ukraine', 'Albania',
       'Guinea', 'Northern Ireland', 'Israel', 'Congo DR', 'New Zealand',
       'China PR', 'Peru', 'Central African Republic', 'Iceland', 'Mali',
       'Japan', 'Iran', 'North Macedonia', 'Ecuador',
       'Republic of Ireland', 'Mozambique', 'Cape Verde Islands',
       'Romania', 'Angola', 'Kosovo', 'Tunisia', 'Australia', 'Paraguay',
       'Libya', 'Zambia', 'Zimbabwe', 'Syria', 'Saudi Arabia', 'Suriname',
       'Gambia', 'Honduras', 'Panama', 'Guinea Bissau',
       'Equatorial Guinea', 'Liberia', 'Georgia', 'Dominican Republic',
       'Curacao', 'Cyprus', 'Tanzania', 'South Africa', 'Benin',
       'Madagascar', 'Uzbekistan', 'Congo', 'Luxembourg', 'Cuba',
       'Namibia', 'Moldova', 'Chad', 'United Arab Emirates',
       'Saint Kitts and Nevis', 'Philippines', 'Fiji', 'Comoros', 'Kenya',
       'Thailand', 'Bolivia', 'Burundi', 'Sierra Leone', 'Bulgaria',
       'Bermuda', 'Malawi', 'Antigua and Barbuda', 'Trinidad and Tobago',
       'Kazakhstan', 'Haiti', 'Niger', 'Chinese Taipei', 'Montserrat',
       'Azerbaijan', 'Belarus', 'Malta', 'Uganda', 'El Salvador',
       'Jordan', 'Mauritania', 'Iraq', 'India', 'Eritrea', 'Lithuania',
       'Puerto Rico', 'Grenada', 'Lebanon', 'Mauritius', 'Sudan', 'Guam',
       'Kyrgyzstan', 'Guyana', 'Latvia', 'Guatemala', 'Papua New Guinea',
       'Faroe Islands', 'Afghanistan', 'Ethiopia', 'Vietnam',
       'Saint Lucia', 'Andorra', 'Korea DPR', 'Belize', 'Palestine',
       'Bhutan', 'Gibraltar', 'Barbados', 'Malaysia', 'Estonia',
       'South Sudan', 'Hong Kong', 'Indonesia'], dtype=object)

In [73]:
cols = ["Name", "Age", "Height",	"Weight","Overall",	"Potential",	"BestPosition",	"Club", "Nationality", "ValueEUR",	"WageEUR", "PreferredFoot", "SkillMoves" ,"PaceTotal", "ShootingTotal", "PassingTotal",	"DribblingTotal",	"DefendingTotal",	"Crossing", "Finishing" ,"Jumping", "Stamina", "Vision", "BallControl", "FKAccuracy", "Penalties"]

In [74]:
final_df = players[cols]

In [75]:
final_df

                    Name  Age  Height  ...  BallControl  FKAccuracy  Penalties
0               L. Messi   34     170  ...           96          94         75
1         R. Lewandowski   32     185  ...           88          85         90
2      Cristiano Ronaldo   36     187  ...           88          84         88
3              K. Mbappé   22     182  ...           91          69         79
4               J. Oblak   28     188  ...           30          14         11
...                  ...  ...     ...  ...          ...         ...        ...
19255           S. Black   19     180  ...           29          27         37
19256            Ma Zhen   23     196  ...           13          11          8
19257         Yang Haoyu   20     183  ...           26          24         37
19258           He Siwei   20     174  ...           29          22         38
19259      Chen Guoliang   22     186  ...           25          26         35

[19260 rows x 26 columns]

In [76]:
# b = final_df["NationalTeam"].value_counts().to_dict()
# import collections
# sorted_dict = collections.OrderedDict(b)
# sorted_dict

# final_df.NationalTeam.unique()

In [77]:
a = final_df["Nationality"].value_counts().to_dict()
import collections
sorted_dict = collections.OrderedDict(a)
sorted_dict

OrderedDict([('England', 1718),
             ('Germany', 1214),
             ('Spain', 1091),
             ('France', 987),
             ('Argentina', 955),
             ('Brazil', 913),
             ('Japan', 544),
             ('Netherlands', 439),
             ('United States', 411),
             ('Poland', 403),
             ('Sweden', 387),
             ('Norway', 377),
             ('Portugal', 377),
             ('China PR', 377),
             ('Republic of Ireland', 360),
             ('Mexico', 355),
             ('Saudi Arabia', 355),
             ('Italy', 339),
             ('Romania', 338),
             ('Korea Republic', 323),
             ('Colombia', 322),
             ('Austria', 319),
             ('Belgium', 313),
             ('Denmark', 306),
             ('Turkey', 292),
             ('Scotland', 289),
             ('Uruguay', 284),
             ('Australia', 266),
             ('India', 213),
             ('Venezuela', 211),
             ('Switzerland', 196),
             ('Paraguay', 195),
             ('Ecuador', 180),
             ('Chile', 162),
             ('Croatia', 158),
             ('Peru', 157),
             ('Bolivia', 151),
             ('Wales', 133),
             ('Ghana', 128),
             ('Nigeria', 128),
             ('Senegal', 127),
             ('Serbia', 127),
             ("Côte d'Ivoire", 111),
             ('Czech Republic', 105),
             ('Morocco', 103),
             ('Greece', 93),
             ('Russia', 91),
             ('Northern Ireland', 77),
             ('Canada', 75),
             ('Bosnia and Herzegovina', 70),
             ('Ukraine', 68),
             ('Cameroon', 66),
             ('Finland', 63),
             ('South Africa', 63),
             ('Slovakia', 62),
             ('Mali', 59),
             ('Iceland', 58),
             ('Congo DR', 55),
             ('Slovenia', 54),
             ('Algeria', 53),
             ('Albania', 49),
             ('Hungary', 48),
             ('Kosovo', 46),
             ('New Zealand', 43),
             ('Jamaica', 37),
             ('Guinea', 33),
             ('Tunisia', 32),
             ('Gambia', 27),
             ('Georgia', 26),
             ('North Macedonia', 26),
             ('Bulgaria', 25),
             ('United Arab Emirates', 24),
             ('Guinea Bissau', 23),
             ('Cyprus', 23),
             ('Costa Rica', 23),
             ('Montenegro', 23),
             ('Israel', 23),
             ('Cape Verde Islands', 22),
             ('Iran', 21),
             ('Angola', 17),
             ('Luxembourg', 16),
             ('Panama', 16),
             ('Burkina Faso', 16),
             ('Congo', 15),
             ('Gabon', 12),
             ('Togo', 12),
             ('Suriname', 12),
             ('Honduras', 12),
             ('Zimbabwe', 12),
             ('Curacao', 11),
             ('Egypt', 11),
             ('Zambia', 10),
             ('Sierra Leone', 10),
             ('Benin', 10),
             ('Haiti', 10),
             ('Burundi', 9),
             ('Madagascar', 8),
             ('Azerbaijan', 8),
             ('Lithuania', 8),
             ('Comoros', 8),
             ('Uganda', 8),
             ('Moldova', 8),
             ('Kenya', 7),
             ('Trinidad and Tobago', 7),
             ('Armenia', 7),
             ('Latvia', 7),
             ('Guyana', 7),
             ('Philippines', 6),
             ('Thailand', 6),
             ('Liberia', 6),
             ('Grenada', 6),
             ('Uzbekistan', 6),
             ('Saint Kitts and Nevis', 5),
             ('South Sudan', 5),
             ('Montserrat', 5),
             ('El Salvador', 4),
             ('Mauritania', 4),
             ('Iraq', 4),
             ('Belarus', 4),
             ('Dominican Republic', 4),
             ('Mozambique', 4),
             ('Equatorial Guinea', 4),
             ('Kazakhstan', 3),
             ('Faroe Islands', 3),
             ('Antigua and Barbuda', 3),
             ('Central African Republic', 3),
             ('Malta', 3),
             ('Jordan', 3),
             ('Namibia', 3),
             ('Cuba', 3),
             ('Libya', 3),
             ('Niger', 3),
             ('Sudan', 3),
             ('Lebanon', 2),
             ('Palestine', 2),
             ('Guatemala', 2),
             ('Puerto Rico', 2),
             ('Syria', 2),
             ('Malaysia', 2),
             ('Chad', 2),
             ('Estonia', 2),
             ('Hong Kong', 2),
             ('Chinese Taipei', 2),
             ('Gibraltar', 1),
             ('Saint Lucia', 1),
             ('Bhutan', 1),
             ('Barbados', 1),
             ('Belize', 1),
             ('Korea DPR', 1),
             ('Andorra', 1),
             ('Kyrgyzstan', 1),
             ('Vietnam', 1),
             ('Ethiopia', 1),
             ('Afghanistan', 1),
             ('Papua New Guinea', 1),
             ('Guam', 1),
             ('Mauritius', 1),
             ('Eritrea', 1),
             ('Tanzania', 1),
             ('Fiji', 1),
             ('Bermuda', 1),
             ('Malawi', 1),
             ('Indonesia', 1)])

In [78]:
# Top 21 countries as per fifa rankings
country = ["Belgium", "Brazil", "France", "England", "Argentina", "Italy", "Spain", "Portugal", "Denmark", "Netherlands", "United States", "Germany", "Switzerland", "Egypt", "Croatia", "Colombia", "Uruguay", "Sweden", "Senegal", "Mexico","Poland"]

In [79]:
national_cols =['Argentina', 'Poland', 'Portugal', 'France', 'Not in team',
       'Belgium', 'England', 'Germany', 'Netherlands', 'Italy', 'Spain',
       'Norway', 'Denmark', 'Sweden',
       'Mexico', 'Brazil', 'Canada',
       'United States', 'Wales', 'Greece', 'Ukraine', 'Northern Ireland',
       'New Zealand', 'China PR', 'Iceland', 'Russia',
       'Republic of Ireland', 'Romania', 'Australia']

In [80]:
final_df1 = final_df[final_df['Nationality'].isin(country)]
#final_df1 = final_df1[final_df1["NationalTeam"].isin(national_cols)]

In [81]:
final_df1

                    Name  Age  Height  ...  BallControl  FKAccuracy  Penalties
0               L. Messi   34     170  ...           96          94         75
1         R. Lewandowski   32     185  ...           88          85         90
2      Cristiano Ronaldo   36     187  ...           88          84         88
3              K. Mbappé   22     182  ...           91          69         79
5           K. De Bruyne   30     181  ...           91          83         83
...                  ...  ...     ...  ...          ...         ...        ...
19203          L. Haysen   19     183  ...           53          36         42
19212          B. Redžić   18     178  ...           51          30         52
19218           Bernardo   17     171  ...           45          39         47
19245  H. Wiles-Richards   19     180  ...           14          11         16
19254         F. Emmings   17     195  ...           14          13         15

[11306 rows x 26 columns]

In [82]:
final_df1 = final_df1[:710]

In [83]:
final_df1

                  Name  Age  Height  ...  BallControl  FKAccuracy  Penalties
0             L. Messi   34     170  ...           96          94         75
1       R. Lewandowski   32     185  ...           88          85         90
2    Cristiano Ronaldo   36     187  ...           88          84         88
3            K. Mbappé   22     182  ...           91          69         79
5         K. De Bruyne   30     181  ...           91          83         83
..                 ...  ...     ...  ...          ...         ...        ...
867   Gedson Fernandes   22     181  ...           78          70         60
868           A. Rossi   25     195  ...           26          21         23
869             Marcão   25     185  ...           72          34         56
870          E. Ndicka   21     192  ...           78          30         33
871             Soares   30     187  ...           77          40         75

[710 rows x 26 columns]

In [84]:
final_df1.nunique()

Name              706
Age                23
Height             35
Weight             42
Overall            17
Potential          18
BestPosition       15
Club              139
Nationality        21
ValueEUR          160
WageEUR           117
PreferredFoot       2
SkillMoves          5
PaceTotal          58
ShootingTotal      69
PassingTotal       45
DribblingTotal     45
DefendingTotal     70
Crossing           81
Finishing          90
Jumping            62
Stamina            70
Vision             64
BallControl        66
FKAccuracy         82
Penalties          82
dtype: int64

In [85]:
final_df1.isna().sum()

Name              0
Age               0
Height            0
Weight            0
Overall           0
Potential         0
BestPosition      0
Club              0
Nationality       0
ValueEUR          0
WageEUR           0
PreferredFoot     0
SkillMoves        0
PaceTotal         0
ShootingTotal     0
PassingTotal      0
DribblingTotal    0
DefendingTotal    0
Crossing          0
Finishing         0
Jumping           0
Stamina           0
Vision            0
BallControl       0
FKAccuracy        0
Penalties         0
dtype: int64

In [86]:
final_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 710 entries, 0 to 871
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            710 non-null    object
 1   Age             710 non-null    int64
 2   Height          710 non-null    int64
 3   Weight          710 non-null    int64
 4   Overall         710 non-null    int64
 5   Potential       710 non-null    int64
 6   BestPosition    710 non-null    object
 7   Club            710 non-null    object
 8   Nationality     710 non-null    object
 9   ValueEUR        710 non-null    int64
 10  WageEUR         710 non-null    int64
 11  PreferredFoot   710 non-null    object
 12  SkillMoves      710 non-null    int64
 13  PaceTotal       710 non-null    int64
 14  ShootingTotal   710 non-null    int64
 15  PassingTotal    710 non-null    int64
 16  DribblingTotal  710 non-null    int64
 17  DefendingTotal  710 non-null    int64
 18  Crossing        710 non-null    int64
 19  Finishing       710 non-null    int64
 20  Jumping         710 non-null    int64
 21  Stamina         710 non-null    int64
 22  Vision          710 non-null    int64
 23  BallControl     710 non-null    int64
 24  FKAccuracy      710 non-null    int64
 25  Penalties       710 non-null    int64
dtypes: int64(21), object(5)
memory usage: 149.8+ KB

In [88]:
final_df1.to_csv("processed_fifa22.csv",index=False)